<!--dev_10-->
{% extends "layout/base.html" %}
{% load humanize %}
{% block head %}
      {% include "layout/head.html" %}
{% endblock %}
{% block navi %}
      {% include "layout/navbar.html" %}
{% endblock navi %}
{% block header %}
      <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                  <div class="text-center text-white">
                        <h1 class="display-4 fw-bolder">회원가입</h1>
                        <p class="lead fw-normal text-white-50 mb-0">회원가입 페이지입니다.</p>
                  </div>
            </div>
      </header>
{% endblock header %}
{% block content %}
      <!--dev_11-->
      <div class="container mt-5 mb-5">
            <div class="row justify-content-center">
                  <div class="col-md-6">
                        <div class="card shadow-lg">
                              <div class="card-body">
                                    <h3 class="text-center">회원가입</h3>
                                    <form method="post">
                                          {% csrf_token %}
                                          {% include 'layout/form_errors.html' %}
                                          <!-- 아이디 입력 -->
                                          <div class="mb-3">
                                                <label for="id_username" class="form-label"  name="username" id="username">아이디</label>
                                                {{ form.username }}
                                          </div>
                                          <!-- 비밀번호 입력 -->
                                          <div class="mb-3">
                                                <label for="id_password1" class="form-label" name="password1" id="password1">비밀번호</label>
                                                {{ form.password1 }}
                                          </div>
                                          <!-- 비밀번호 확인 -->
                                          <div class="mb-3">
                                                <label for="id_password2" class="form-label" name="password2" id="password2">비밀번호 확인</label>
                                                {{ form.password2 }}
                                          </div>
                                          <!-- 이메일 확인 -->
                                          <div class="mb-3">
                                                <label for="id_email" class="form-label" name="email" id="email">이메일</label>
                                                {{ form.email }}
                                          </div>
                                          <!-- 직업 선택 -->
                                          <div class="mb-3">
                                                <label for="id_job" class="form-label" name="job" id="job">직업</label>
                                                {{ form.job }}
                                          </div>
                                          <!-- 성별 선택 -->
                                          <div class="mb-3">
                                                <label for="id_gender" class="form-label" name="gender" id="gender">성별</label>
                                                {{ form.gender }}
                                          </div>
                                          <!-- 회원가입 버튼 -->
                                          <button type="submit" class="btn btn-primary w-100">회원가입</button>
                                    </form>
                                    <p class="text-center mt-3">
                                          이미 계정이 있으신가요? <a href="{% url 'accounts:login_user' %}">로그인</a>
                                    </p>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
{% endblock content %}
{% block footer %}
      {% include "layout/footer.html" %}
{% endblock footer %}
