{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
    {% block head %}{% endblock %}
    <body>
        {% block navi %}
        {% endblock navi %}
        {% block header %}
        {% endblock header %}
        <!-- 기본 템플릿 안에 삽입될 내용 Start -->
        {% block content %}
        {% endblock content %}
        <!-- 기본 템플릿 안에 삽입될 내용 End -->
        {% block footer %}
        {% endblock footer %}
        <!-- 자바스크립트 Start -->
        {% block script %}
        {% endblock script %}
        <!-- 자바스크립트 End -->
    </body>
</html>
