<!--dev_14-->
{% extends "layout/base.html" %}
{% load humanize %}
{% block head %}
    {% include "layout/head.html" %}
{% endblock %}
{% block navi %}
    {% include "layout/navbar.html" %}
    <div class="d-flex flex-column vh-100 justify-content-between">
    {% endblock navi %}
    {% block header %}
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">{{ category.name }}</h1>
                    <p class="lead fw-normal text-white-50 mb-0">카테고리 페이지</p>
                </div>
            </div>
        </header>
    {% endblock header %}
    {% block content %}
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <!--dev_5 상품나오게 하기-->
                    {% for product  in products %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!--dev_6 세일뱃지 처리-->
                                {% if product.is_sale %}
                                    <!-- Sale badge-->
                                    <div class="badge bg-dark text-white position-absolute"
                                         style="top: 0.5rem;
                                                right: 0.5rem">Sale</div>
                                {% endif %}
                                <!-- Product image-->
                                <img class="card-img-top"
                                     style="height:15rem;
                                            object-fit:cover"
                                     src="{{ product.image.url }}"
                                     alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ product.name }}</h5>
                                        <!-- Product reviews-->
                                        <div class="d-flex justify-content-center small text-warning mb-2">
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                        </div>
                                        <!--dev_6 Product price-->
                                        {% if product.is_sale %}
                                            <span class="text-muted text-decoration-line-through">{{ product.price|floatformat:0|intcomma }}원</span>
                                            {{ product.sale_price|floatformat:0|intcomma }}원
                                        {% else %}
                                            {{ product.price|floatformat:0|intcomma }}원
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center">
                                        <!--dev_13-->
                                        <a class="btn btn-outline-dark mt-auto"
                                           href="{% url 'store:product' product.id %}">제품상세</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endblock content %}
    {% block footer %}
        {% include "layout/footer.html" %}
        <div>
        {% endblock footer %}
